html {
  font-family: "Monda", sans-serif;
  font-size: 16px;
}


.wrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "content content"
    "foot foot";
  grid-template-rows: 10rem 20rem 10rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "head"
    "content"
    "foot";
}

header {
  grid-area: "head";

  color: #472E74;
  background: #AEA0C1;
  border: 2px solid #2B0E4F;
  border-radius: 8;
}

.content {
  grid-area: "content";
  color: #472E74;
  background: #AEA0C1;
  border: 2px solid #2B0E4F;
  border-radius: 8;
}

footer {
  grid-area: "foot";
  color: #472E74;
  background: #AEA0C1;
  border: 2px solid #2B0E4F;
  border-radius: 8;
}
